doctype html
head
  <!--[if IE]>
    meta(http-equiv='X-UA-Compatible', content='IE=Edge, chrome=1')
  <![endif]-->
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='manifest', href='manifest.json')
  meta(name='mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='application-name', content='PHAR')
  meta(name='apple-mobile-web-app-title', content='PHAR')
  meta(name='theme-color', content='#EEEEEE')
  meta(name='msapplication-navbutton-color', content='#EEEEEE')
  meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
  meta(name='msapplication-starturl', content='/')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0')
  meta(name='description', content='Pack and unpack PHAR arhives')
  title PHAR
  link(rel='shortcut icon', href=require('./assets/icons/favicon.png'), type='image/png')
body
  #root
